.reveal
  .slides
    %section
      %h2 Asset Pipeline
      %p "The asset pipeline provides a framework to concatenate and minify or compress JavaScript and CSS assets. It also adds the ability to write these assets in other languages such as CoffeeScript, Sass and ERB."
    %section
      %h2 CSS i JavaScript
      %ul
        %li concatinate
        %li minify
        %li ugliyfy
        %li fingerprinting (cache-busting)
    %section
      %h2 Where to put assets ?
      %ul
        %li
          %b app/assets
          \=>  for assets that are owned by the application, such as custom images, JavaScript files or stylesheets
        %li
          %b lib/assets
          \=> for your own libraries' code that doesn't really fit into the scope of the application or those libraries which are shared across applications
        %li
          %b vendor/assets
          \=> for assets that are owned by outside entities, such as code for JavaScript plugins and CSS frameworks
    %section
      %h2 How to concatinate?
      %p application.css
      %pre
        %code
          = preserve do
            *= require reveal
            *= require fonts
            *= require_self

            @import theme/default
      %p application.js
      %pre
        %code
          = preserve do
            \//= require jquery
            \//= require jquery_ujs
            \//= require reveal
    %section
      %section
        %h2 rake assets:precompile
        %pre
          = preserve do
            assets-demo/app/assets
            |-- fonts
            |   |-- FreckleFace-Regular.ttf
            |   |-- novi
            |   |   |--TheGirlNextDoor.ttf
            |-- images
            |   |-- infinum.png
            |-- javascripts
            |   |-- application.js
            |   |-- reveal.js
            |-- stylesheets
            |   |-- application.css.scss
            |   |-- fonts.css.scss
            |   |-- reveal.css
            |   |-- theme
            |   |   |-- default.css
      %section
        %h2 rake assets:percompile
        %pre
          = preserve do
            assets-demo/current
            |-- public
            |   |-- assets
            |   |   |-- application-0f3df673212e8d01648a55eae7461b85.js
            |   |   |-- application-0f3df673212e8d01648a55eae7461b85.js.gz
            |   |   |-- application-720db2cc6b732eff5756c97ce90dfe02.css
            |   |   |-- application-720db2cc6b732eff5756c97ce90dfe02.css.gz
            |   |   |-- FreckleFace-Regular-912f5f5ed8ef7a578708f0c32dc80dff.ttf
            |   |   |-- infinum-3251d61dec5bfbf945928c080127e58e.png
            |   |   |-- manifest-2edc7208b999212efa1ff2333938feaa.json
            |   |   |-- novi
            |   |   |   |-- TheGirlNextDoor-93a42f2c96124247aa2df334e4ef353a.ttf
      %section
        %h3 What does assets:precompile cover by default?
        %pre
          %code
            = preserve do
              [ Proc.new { |path, fn| fn =~ /app\/assets/ &&
              !%w(.js .css).include?(File.extname(path)) },
              \/application.(css|js)$/ ]
        .fragment
          %p For everyting else:
          %pre
            %code
              =preserve do
                config.assets.paths << Rails.root.join(path)
                config.assets.precompile += %w( custom.css )

    %section
      %h2 How to get to assets ?
      %p In html
      %pre
        %code
          =preserve do
            \= stylesheet_link_tag    "application"
            \= javascript_include_tag "application"
            \= image_tag 'infinum.png'
      %p In CSS (custom.css.scss)
      %pre
        %code
          =preserve do
            background: asset-url('infinum.png'); #=> url('/assets/infinum-32...58e.png')
            background: url(asset-path('infinum.png')); #=> '/assets/infinum-32...58e.png'
      %p In JS (custom.js.erb)
      %pre
        %code
          =preserve do
            $('#logo').attr({ src: "<%= asset_path('logo.png') %>" });
